update.txt
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.vscode/
# Virtual environments
.env/
.venv/
env/
venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
cache/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Type checking cache
.mypy_cache/